/*

base/_colours.scss
  - declare all the colour variables here.
  
  * variable structure *
  $[object]-[colour]-[shade]: #XXXXXX;
  

*/

//Text
$text-blue: #000;
$text-green-light: #000;

//Backgrounds
$bg-grey-light: #dfdfdf;
$bg-grey-dark: #404040;
