@font-face {
	$font-name: 'icomoon';
	$font-path: '../fonts/';
	
	font-family: 'icomoon';
	src:url('#{$font-path + $font-name}.eot');
	src:url('#{$font-path + $font-name}.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path + $font-name}.woff') format('woff'),
		url('#{$font-path + $font-name}.ttf') format('truetype'),
		url('#{$font-path + $font-name}.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-headphones, .icon-file, .icon-qrcode, .icon-compass, .icon-mobile, .icon-undo, .icon-busy, .icon-lock, .font-icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\31";
}
.icon-headphones:before {
	content: "\32";
}
.icon-file:before {
	content: "\33";
}
.icon-qrcode:before {
	content: "\34";
}
.icon-compass:before {
	content: "\35";
}
.icon-mobile:before {
	content: "\36";
}
.icon-undo:before {
	content: "\37";
}
.icon-busy:before {
	content: "\38";
}
.icon-lock:before {
	content: "\39";
}
