@import "_prefix.scss";
@import "_clearer.scss";
@import "_pseudo.scss";


//--

$icons: sprite-map("sprite/icons/*.png", $layout: smart);
$icons-2x: sprite-map("sprite/icons-2x/*.png", $layout: smart);

//Sprite mixin, works perfectly with standard defines
@mixin use-sprite($sprite) {
    background-image: sprite-url($icons);
    background-position: sprite-position($icons, $sprite);
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: image-height(sprite-file($icons, $sprite));
    width: image-width(sprite-file($icons, $sprite));

    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
        background-image: sprite-url($icons-2x);
        background-size: (image-width(sprite-path($icons-2x)) / 2) (image-height(sprite-path($icons-2x)) / 2);
        background-position: round(nth(sprite-position($icons-2x, $sprite), 1) / 2) round(nth(sprite-position($icons-2x, $sprite), 2) / 2);
        height: image-height(sprite-file($icons-2x, $sprite)) / 2;
        width: image-width(sprite-file($icons-2x, $sprite)) / 2;
    }
}

//--


//$hifi-layout:smart;
//@import "sprite/hifi/*.png";

div.mysprite {
	@include use-sprite(login);
}

div.sprite2 {
	@include pseudo(before) {
		background: red;
		width: 150px;
		height: 50px;
		
		@include use-sprite(more);
		
		display: inline-block; zoom: 1; *display: inline;
	}	
}